This CSS tutorial contains hundreds of CSS examples.

With our online editor, you can edit the CSS, and click on a button to view the result.

CSS Example
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
Click on the "Try it Yourself" button to see how it works.

CSS Examples
Learn from over 300 examples! With our editor, you can edit the CSS, and click on a button to view the result.


Use the Menu
We recommend reading this tutorial, in the sequence listed in the menu.

If you have a large screen, the menu will always be present on the left.

If you have a small screen, open the menu by clicking the top menu sign ☰.

CSS Templates
We have created some responsive W3.CSS templates for you to use.

You are free to modify, save, share, and use them in all your projects.

Free CSS Templates!

ADVERTISEMENT

CSS Exercises
Many chapters in this tutorial end with an exercise where you can check your level of knowledge.

Exercise
?
Drag and drop the correct property to set a green background color for a <div> element.
div {
  : green;
}



CSS Quiz
Test your CSS skills with a quiz.


Track Your Progress
Create a free W3Schools account and get access to more features and learning materials:

CheckmarkView your completed tutorials, exercises, and quizzes
CheckmarkKeep an eye on your progress and daily streaks
CheckmarkSet goals and create learning paths
CheckmarkCreate your own personal website

Note: This is an optional feature. You can study at W3Schools without creating an account.

CSS References
At W3Schools you will find complete CSS references of all properties and selectors with syntax, examples, browser support, and more.

CSS PropertiesCSS Browser SupportCSS SelectorsCSS CombinatorsCSS Pseudo-classesCSS Pseudo-elementsCSS At-rulesCSS FunctionsCSS AnimatableCSS Web Safe FontsCSS UnitsPx to Em ConversionCSS ColorsCSS Default ValuesCSS EntitiesCSS Aural

Kickstart your career
Get certified by completing the CSS course

