<div class="container">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
  <div>7</div>
  <div>8</div>
</div>
Result:

1
2
3
4
5
6
7
8

ADVERTISEMENT

Display Grid Property
The <div> element becomes a grid container when its display property is set to grid or inline-grid.

Example
.container {
  display: grid;
}
Result:

1
2
3
4
5
6
7
8

Example
.container {
  display: inline-grid;
}
Result:

1
2
3
4
5
6
7
8

